<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red-text {
            color: red;
        }

        .red-text > h3 {
            border: 1px solid red;
        }

        .red-text div {
            border: 1px solid blueviolet;
        }

        .red-text .padding-style {
            padding: 0 15px;
        }

        .green-text {
            color: green;
        }

    </style>
</head>
<body>
<img src="../static/java.webp" style="width: 500px">
<h1><a href="https://google.com">Title 1</a></h1>
<div class="red-text">
    <h2>Title 2</h2>
    <h3>Title 3</h3>
    <div>
        <h3>Title 33</h3>
    </div>
    <div class="padding-style">
        <p>Additional text</p>
    </div>
</div>
<div class="green-text padding-style">
    <h4>Title 4</h4>
    <h5>Title 5</h5>
</div>

<h6>Title 6</h6>
<p>Regular text</p>

<ul>
    <li>Option 1</li>
    <li>Option 2</li>
</ul>

<ol>
    <li>Option 1</li>
    <li>Option 2</li>
</ol>

</body>
</html>